<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991331695587-cg9vrag0f2a8ivr33nqpjlfvn4nlgop0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991331695587-cg9vrag0f2a8ivr33nqpjlfvn4nlgop0</string>
	<key>API_KEY</key>
	<string>AIzaSyCLUdRzB3AAnfSrS37UvNSOoBys7gqgdH0</string>
	<key>GCM_SENDER_ID</key>
	<string>991331695587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cypherTableTogether</string>
	<key>PROJECT_ID</key>
	<string>tabletogether-e18a5</string>
	<key>STORAGE_BUCKET</key>
	<string>tabletogether-e18a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991331695587:ios:17af39fade6aff6c11bed6</string>
</dict>
</plist>